@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$font-Poppins: "Poppins", sans-serif;
$font-Lilita: "Lilita One", sans-serif;

#root {
  background: linear-gradient(
    45deg,
    rgb(16, 18, 26) 0%,
    rgb(28, 27, 27) 100%
  );
  color: #fff;
  min-height: 100vh;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
  font-family: $font-Poppins;
}

header {
  padding: 2rem 0;
  text-align: center;
  font-family: $font-Lilita;

  h1 {
    letter-spacing: 1px;
    font-size: 2.5rem;
    text-transform: uppercase;
  }
}

@mixin flexBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  width: clamp(300px, 90%, 500px);
  padding: 4px;
  border-radius: 5px;
  background: linear-gradient(45deg, #f61e7f,  #9079f5, #f9638b, #5ff2ef);
  background-position: 0vh;
  transition: 0.3s linear;
  animation: backgroundChange 18s linear forwards infinite;




  @keyframes backgroundChange {
    0% {
      background-position: 100vh;
    }

    25% {
      background-position: 200vh;
    }
    50% {
      background-position: 300vh;
    }

    75% {
      background-position: 400vh;
    }

    100% {
      background-position: 500vh;
    }
  }



  .wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  color: #ffffff;
  background: linear-gradient(60deg, #292a29, #1c1d1d);
  }



  // password
  .generated-pass {
    @include flexBox;
    font-weight: 600;

    p {
      font-size: 1.3rem;
    }

    .copy-btn {
      border: none;
      outline: none;
      padding: 0.5rem 1.5rem;
      border-radius: 5px;
      font-size: 1rem;
      font-weight: 600;
      transition: 0.3s linear;
      background: #eeeeee;


      @media (hover:hover) {
        & {
          cursor: pointer;
        }
        &:hover{
          filter: brightness(120%);
        }
      }

    }
  }

  // Character Length
  .character-length {
    @include flexBox;

    h2 {
      font-size: 1.3rem;
    }
    span {
      font-weight: 600;
    }
  }

  

  .range-container {
    @include flexBox;


    input {
      width: 100%;
      -webkit-appearance: none;
      appearance: none;
      outline: none;
      border-radius: 15px;
      height: 6px;


      &:active {
        cursor: pointer;
      }


      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background:#59f7b5;
      }
    }
  }




  // Input Container
  .input-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;


    @media Screen and (max-width: 500px) {
      grid-template-columns: auto;
    }


    .pass-input {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 15px;
      gap: 5px;
   

      @media(hover:hover) {
        & * {
          cursor: pointer;
        }
      }

      label {
        user-select: none;
      }



      input {
        appearance: none;
        width: 15px;
        height: 15px;
        border: 2px solid #ccc;
        border-radius: 50%;
        transition: 0.3s linear;


        &:checked {
        border: 2px solid transparent;
        background:#86ddf5;
        }
      }
    }
  }

  // password strength
  .pass-strength {
    @include flexBox;

    p {
      font-weight: 600;
      text-decoration: underline;
    }
  }

  .generate-btn {
    padding: 1rem 1.3rem;
    margin: 5px 0;
    border: none;
    outline: none;
    font-size: 1.3rem;
    font-family: $font-Lilita;
    color: #fefefe;
    background: linear-gradient(to left, rgb(252, 101, 101), #f156da);
    transition: 0.2s linear;


    @media(hover:hover) {
      & {
        cursor: pointer;
      }
      &:hover {
        filter: brightness(85%);
      }
    }


  }

}